.cproject
.project
.pydevproject
.sconsign.dblite

*.pyc
*.suo

.settings/
.localhistory/
Dbg/
Opt/

*/Temp/
*/TestResults/

*/.svn/
.svn/
bin/
Bin/
obj/
_ReSharper.CSharp/
*.opensdf
*.sdf
/CSharp/CSharp.sln.ide
/UnityGame/Library
/UnityGame/CSharp60Support/compilation log.txt
/CSharp/CSharp.VC.opendb
/Server/Server.VC.opendb
/Log
/Temp
/Logs
/Unity/CSharp60Support/compilation.log
/.vs
/Server/.vs/
/Unity/.vs/
/Tools/MongoDB
/Excel/md5.txt
/Release
.idea/
/UnityGame/Logs
/UnityGame/Assets/StreamingAssets/
/netcoreapp2.0
/UnityGame/Assets/StreamingAssets.meta
.DS_Store
Server/.DS_Store
/Server/.vscode/
.vs/
.objs/
/UnityGame/.gradle
/*.user
/ToolsApp/
/UnityGame/Unity.Editor.csproj
/UnityGame/Assets/StompyRobot
/UnityGame/Assets/Editor/Addressable
/FileServer
/UnityGame/.vsconfig
/UnityGame/StompyRobot.SRDebugger.Editor.csproj
/UnityGame/StompyRobot.SRDebugger.csproj
/UnityGame/StompyRobot.SRF.Editor.csproj
/UnityGame/StompyRobot.SRF.csproj
/UnityGame/Unity.Addressables.Editor.Tests.csproj
/UnityGame/Unity.Addressables.Editor.csproj
/UnityGame/Unity.Addressables.Tests.csproj
/UnityGame/Unity.ResourceManager.Tests.csproj
/UnityGame/ServerData
/UnityGame/Assets/StompyRobot.meta
/UnityGame/Assets/AssetsPackage/Code/Code.dll.bytes
/UnityGame/Assets/AssetsPackage/Code/Code.dll.bytes.meta
/UnityGame/Assets/AssetsPackage/Code/Code.pdb.bytes
/UnityGame/Assets/AssetsPackage/Code/Code.pdb.bytes.meta
/UnityGame/Assembly-CSharp-Editor.csproj
/Excel/~$*.xlsx
/UnityGame/Library
/UnityGame/Assets/AmplifyShaderEditor
UnityGame/spine-unity-editor.csproj
UnityGame/spine-unity-examples-editor.csproj
UnityGame/spine-unity-examples.csproj
UnityGame/Unity.2D.Animation.Samples.Dependency.csproj
UnityGame/Unity.2D.Animation.Samples.Editor.csproj
UnityGame/Unity.2D.Animation.Samples.Runtime.csproj
UnityGame/Unity.Hotfix.csproj
UnityGame/Unity.HotfixView.csproj
UnityGame/Unity.Model.csproj
UnityGame/Unity.ModelView.csproj
UnityGame/Unity.Mono.csproj
UnityGame/Unity.sln
UnityGame/Unity.sln.DotSettings
UnityGame/Unity.sln.DotSettings.user
UnityGame/Unity.TextMeshPro.Editor.csproj
UnityGame/Unity.TextMeshPro.Editor.Tests.csproj
UnityGame/Unity.TextMeshPro.Tests.csproj
UnityGame/Unity.ThirdParty.csproj
UnityGame/DOTween.Modules.csproj
UnityGame/DOTweenPro.EditorScripts.csproj
UnityGame/DOTweenPro.Scripts.csproj
UnityGame/Assets/AmplifyShaderEditor.meta
UnityGame/AdditionPostProcessRendererFeature.csproj
UnityGame/AmplifyShaderEditor.csproj
UnityGame/FogRenderFeature.csproj
UnityGame/HybridCLRData/hybridclr_repo
UnityGame/HybridCLRData/il2cpp_plus_repo
UnityGame/HybridCLRData/LocalIl2CppData
UnityGame/HybridCLRData/AssembliesPostIl2CppStrip
UnityGame/HybridCLRData/HotFixDlls
/UnityGame/Assets/Codes/Temp
/UnityGame/Assets/Codes/Temp.meta
UnityGame/Unity.Codes.csproj
UnityGame/Assembly-CSharp.csproj
UnityGame/Unity.Addressables.csproj
UnityGame/Unity.ResourceManager.csproj
UnityGame/Unity.TextMeshPro.csproj
UnityGame/Sandbox
UnityGame/Bundles
UnityGame/YooAsset.csproj
UnityGame/YooAsset.Editor.csproj
/UnityGame/HybridCLR.Runtime.csproj
/UnityGame/HybridCLR.Editor.csproj
Server/Model/Generate/Config/NPCBubbleConfig.cs
UnityGame/Assets/AssetsPackage/Config/ItemSkillBookCategory.bytes.meta
/UnityGame/Assets/Modules
UnityGame/Assembly-CSharp-firstpass.csproj
UnityGame/PluginMaster.csproj
UnityGame/Unity.RenderPipelines.Universal.Editor.csproj
UnityGame/Unity.RenderPipelines.Universal.Editor.Tests.csproj
UnityGame/Unity.RenderPipelines.Universal.Runtime.Tests.csproj
UnityGame/Unity.RenderPipelines.Universal.Shaders.csproj
